/*Arreglos ----------------------------------------------*/
.clear{clear:both}
.wrapper{margin:10px}
.F-left{float:left}
.F-right{float:right} 
.w-margin{margin:20px}
.w-margin40{margin:40px}
.animate {
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.wrapper {
    margin: 10px;
    position: relative;
}
/*Columnas ----------------------------------------------*/
.colum1{width:100%}

.colum2{width:38%}

.colum3{width:33.33%}
.colum3-2{width:66.67%}

.colum4{width:25%}
.colum4-2{width:50%}
.colum4-3{width:75%}

.colum5{width:20%}
.colum5-2{width:40%}
.colum5-3{width:60%}
.colum5-4{width:80%}

.colum6{width:16.66%}
.colum6-2{width:33.32%}
.colum6-3{width:49.98%}
.colum6-4{width:66.64%}
.colum6-5{width:83.3%}

.colum7{width:14.28%}
.colum7-2{width:28.56%}
.colum7-3{width:42.84%}
.colum7-4{width:57.12%}
.colum7-5{width:71.4%}
.colum7-6{width:85.68%}

.colum8{width:12.5%}
.colum8-2{width:25%}
.colum8-3{width:37.5%}
.colum8-4{width:50%}
.colum8-5{width:62.5%}
.colum8-6{width:75%}
.colum8-7{width:87.5%}

.colum9{width:11.11%}
.colum9-2{width:22.22%}
.colum9-3{width:33.33%}
.colum9-4{width:44.44%}
.colum9-5{width:55.55%}
.colum9-6{width:66.66%}
.colum9-7{width:77.77%}
.colum9-8{width:88.88%}

.colum10{width:10%}
.colum10-2{width:20%}
.colum10-3{width:30%}
.colum10-4{width:40%}
.colum10-5{width:50%}
.colum10-6{width:60%}
.colum10-7{width:70%}
.colum10-8{width:80%}
.colum10-9{width:90%}


@media screen and (max-width: 768px) {
	.colum2{width:100%}
	.colum3{width:50%}
	.colum3-2{width:100%}
	.colum4{width:50%}
	.colum4-3{width:100%}
	.colum5{width:50%}
	.colum5-2{width:50%}
	.colum5-3{width:100%}
	.colum5-4{width:100%}
	.colum6{width:33.33%}
}
@media screen and (max-width: 512px) {
	.w-margin{margin:10px 20px}
	.colum1{width:100%}

	.colum2{width:100%}

	.colum3{width:100%}
	.colum3-2{width:100%}

	.colum4{width:100%}
	.colum4-2{width:100%}
	.colum4-3{width:100%}

	.colum5{width:100%}
	.colum5-2{width:100%}
	.colum5-3{width:100%}
	.colum5-4{width:100%}

	.colum6{width:100%}
	.colum6-2{width:100%}
	.colum6-3{width:100%}
	.colum6-4{width:100%}
	.colum6-5{width:100%}

	.colum7{width:100%}
	.colum7-2{width:100%}
	.colum7-3{width:100%}
	.colum7-4{width:100%}
	.colum7-5{width:100%}
	.colum7-6{width:100%}

	.colum8{width:100%}
	.colum8-2{width:100%}
	.colum8-3{width:100%}
	.colum8-4{width:100%%}
	.colum8-5{width:100%}
	.colum8-6{width:100%}
	.colum8-7{width:100%}

	.colum9{width:100%}
	.colum9-2{width:100%}
	.colum9-3{width:100%}
	.colum9-4{width:100%}
	.colum9-5{width:100%}
	.colum9-6{width:100%}
	.colum9-7{width:100%}
	.colum9-8{width:100%}

	.colum10{width:100%}
	.colum10-2{width:100%}
	.colum10-3{width:100%}
	.colum10-4{width:100%}
	.colum10-5{width:100%}
	.colum10-6{width:100%}
	.colum10-7{width:100%}
	.colum10-8{width:100%}
	.colum10-9{width:100%}
}

.loader {
  color: #7ed922;
  font-size: 10px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}